.App {
  display: flex;
  flex-direction: column;
  height: fit-content; /* Set the height of .App to fill the viewport vertically */
  min-height: 100vh;
  width: 100vw;
  background-color: skyblue;
}

.app-header {
  background-color: transparent;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.app-body {
  flex-grow: 1;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Adjust width as needed */
  max-width: 600px;
}

.search-input {
  padding: 10px 40px 10px 20px; /* Adjust padding to your liking */
  border: 1px solid #ccc;
  border-radius: 25px; /* Adjust border-radius to make the sides perfectly rounded */
  font-size: 16px;
  width: 100%; /* Adjust width as needed */
  max-width: 600px;
}

.search-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: #ccc;
  border-radius: 50%;
  width: 35px; /* Adjust width and height to make the button round */
  height: 35px;
  cursor: pointer;
}

.search-spinner {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: #ccc;
  border-radius: 50%;
  width: 35px; /* Adjust width and height to make the button round */
  height: 35px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.daily-view-wrapper {
  display: flex; /* Use flexbox to make the cards align horizontally */
  height: fit-content;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow-y: visible;
}

.daily-view-super-wrapper {
  display: flex; /* Use flexbox to make the cards align horizontally */
  height: fit-content;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: visible;
}

.daily-view-wrapper::-webkit-scrollbar {
  height: 8px;
  display: none;
}

.daily-view-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.daily-view-wrapper::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 300px;
  max-width: 50vw;
  flex: 0 0 auto; /* Allow the cards to grow and shrink as needed */
  scroll-snap-align: start; /* Snap cards to the start of the container */
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Animation for sliding in */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.daily-temperature-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.daily-temperature-wrapper-main-temp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.daily-temperature-wrapper-extreme-temp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.daily-svg-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.daily-date-wrapper{
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.hourly-view-wrapper {
  position: absolute;
  top: 75vh;
  background-color: skyblue;
}

.hourly-entry-wrapper {
  display: flex;
  width: 100vw;
  height: auto;
  line-height: 1;
  justify-content: space-evenly;
  align-content: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hourly-card {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hourly-card.visible {
  opacity: 1;
}

.hourly-card.hidden {
  opacity: 0;
}

.hourly-entry-list-wrapper {
  display: flex;
  width: 100vw;
  height: auto;
  line-height: 1;
  justify-content: space-evenly;
  align-content: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width:100vw;
}

.hourly-entry-wrapper-span {
width: 10%;
flex:1;
text-align: center;
font-size:20px;
}

.hourly-data-entry-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: rgb(60,60,60);
}

.custom-modal-header .btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}